<!-- Delete user module Confirm -->
<div class="modal fade" id="Modal-DeleteConfirm-{{ module.id }}"
     tabindex="-1"
     aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Reomve permission on {{ module.code }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="POST">
        {{ delete_user_module_form.csrf_token() }}
        {{ delete_user_module_form.module_id(value=module.id) }}
        <div class="modal-body">
          <h4 class="text-center">The permission of {{ user.username }} on "{{ module.code }} {{ module.name }}" will be removed</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancel</button>
          <button type="submit" class="btn btn-primary">confirm</button>
        </div>
      </form>
    </div>
  </div>
</div>
